h2 {

    top:20px;
    font-size:44px;
    width:100%;
    text-align:center;
    color:rgba(255,255,255,0.6);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px gray, 0 0 10px black;

}

section {

    width: 800px;
    background:red;
    margin: 12% auto 15%;
    border:2px solid black;
    box-shadow:0 0 11px 4px black;

}

h3 {

    font-weight: bold;
    font-size:18px;
    text-align: center;
    line-height: 30px;

}

p {

    font-size: 14px;
    color: orangered;

}

section div {
    background-color: white;
    height: 600px;
    margin: auto;
}

#s1 div{

    text-align: center;

}

#s2 div img {

    margin: 0 auto;
    display: block;
    
}

#s3 div p {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    line-height: 600px;
    
}

#s5 div {

    position: relative;

}

#s5 img {

    position: absolute;
    top: calc(50% - 201px/2);
    left: calc(50% - 170px/2);

}

#s6 div {

    position: relative;

}

#s6 img {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

#s7 div {

    display: flex;    
    align-items: center;
    justify-content: center;
  
}
