*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;

}



html {

    font-family: 'Stint Ultra Condensed', cursive;

}

nav, header {

    background-color: #e24d4d;

}

div .banner {

    position: relative;

}

.main_zdj {
    
    float:right;
    margin-right:50px;
    margin-top:-360px;
    margin-bottom: 20px;
    
        
 }

.main_content {

    height: max-content;
    width: 100%;
    position: relative;
    margin: 20px;

}

.content_box {

    
    height: 344px;
    width: 800px;
    background-color: #2B2D42;
    margin: 20px;
    color: #EDF2F4;
    font-size: 15px;
    position: relative;

}

@media (max-width: 600px) { 

    .main_zdj {

        display: none;

    }

    .content_box {

        height: 172px;
        width: 400px;
        font-size: 8px;

    }
    /* .banner {

        height: 200px;
        width: 600px;

    } */

}


